<header class="main-header">
    <nav class="navbar container">
        <a href="/" class="logo">
            <img src="/images/Logo%20Nexus%20Horizon.jpg" alt="Logo de Nexus Quantum Solutions">
        </a>
        <ul class="nav-links">
            <li><a href="/">Inicio</a></li>
            <li><a href="/servicios">Servicios</a></li>
            <li><a href="/portafolio">Portafolio</a></li>
            <li><a href="/sobrenosotros">Sobre Nosotros</a></li>
            <li><a href="/recursos">Recursos y FAQs</a></li>
            <li><a href="/contacto" class="cta-button">Contacto</a></li>
        </ul>
    </nav>
</header>