/* Estilos para la página de login del panel de administración */
.login-container {
    padding: 4rem 2rem;
    max-width: 500px;
    margin: 4rem auto;
    background-color: var(--secondary-color);
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.login-container h2 {
    font-size: 2rem;
    color: var(--dark-color);
    margin-bottom: 1rem;
}

.login-container p {
    font-size: 1rem;
    color: var(--dark-color);
    margin-bottom: 2rem;
}

#loginForm {
    text-align: left;
}

.form-group {
    margin-bottom: 1.5rem;
}

.form-group label {
    display: block;
    margin-bottom: 0.5rem;
    font-weight: 600;
    color: var(--dark-color);
}

.form-group input[type="password"] {
    width: 100%;
    padding: 0.8rem;
    border: 2px solid var(--primary-color);
    border-radius: 5px;
    font-family: var(--font-family);
    font-size: 1rem;
    box-sizing: border-box;
}

.error-message {
    text-align: center;
    font-weight: bold;
    margin-top: 1rem;
}

button[type="submit"] {
    display: block;
    width: 100%;
    padding: 1rem;
    background-color: var(--primary-color);
    color: var(--light-color);
    border: none;
    border-radius: 50px;
    font-weight: 600;
    font-size: 1.1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
    background-color: #2b5887;
}